body {
	padding-top: 50px;
	background: #d3d3d3 url("https://dl.dropbox.com/s/gr0a17fzhl4eoz2/dreamstime_xxl_90280773.jpg?dl=0") center top no-repeat fixed  ;
	background-size: 80%;
	}

.title-template {
	color: white;
	padding: 40px 15px;
  	text-align: center;
}

#portfolio {
	font-family: 'Lobster', cursive;
	font-size: 22px;
	letter-spacing: 1px;
}
#wozzy84 {
	font-family: 'Jura', sans-serif;
	font-size: 22px;

}


