body{
	background-color: #F8F8F8;

}

.title-template {
	border-style: double;
	border-width: 5px;
	color: white;
	text-align: center;
	padding-top: 40px;
	background: url("img/biuro.jpg") center center no-repeat  ;
	
	height:970px;
	}

.content-template {
	border-style: double;
	border-width: 5px;
	border-color: white; 	
	padding-top: 170px;
	padding-right: 20px; 
	padding-left: 20px;
	background: url("img/szary.jpg") center center no-repeat;

	height: 1000px;

}	



#portfolio {
	font-family: 'Lobster', cursive;
	font-size: 22px;
	letter-spacing: 1px;
}
#wozzy84 {
	font-family: 'Jura', sans-serif;
	font-size: 22px;

}

.fa-facebook {
    
    color:  #3B5998 !important; 
}
.fa-github {
    
    color:  black !important; 
}
.fa-linkedin {
	color:  #007bb5;
}

.thumbnail: {
	background: transparent !important;
}

.contact-template {
	border-style: double 	;
	border-width: 5px;
	border-color: white;
	padding-top: 150px;
	background-color: #F0F0F0;
	height: 820px;

}
.copyright {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 30px; 	
	background-color: #222222;
	color: white;
}
.jumbotron {
	background: transparent;
}