body{
	background-color: #F0F0F0;

}

.title-template {
	color: white;
	text-align: center;
	padding-top: 50px;
	background: url("img/biuro.jpg") center center no-repeat  ;
	
	height: 800px;
	}

.content-template {
	margin-top: -20px;
	background: url("img/szary.jpg") center center no-repeat;

	height: 800px;

}	



#portfolio {
	font-family: 'Lobster', cursive;
	font-size: 22px;
	letter-spacing: 1px;
}
#wozzy84 {
	font-family: 'Jura', sans-serif;
	font-size: 22px;

}


//1140/730